    /* * {
        overflow-x: hidden;
    } */

    body::-webkit-scrollbar {
        display: none;
    }

    body {
        background-color: rgb(0, 0, 0);
        padding: 0;
    }

    .navbar-toggler {
        color: white !important;
    }

    header {
        background-image: url('../image/assets/shadowbg.png');
        background-position-y: -100px !important;
        height: 700px;
        background-size: cover;
    }

    .header-img {
        background-image: url('../image/assets/header_back.png');
        background-size: cover;
        height: 850px;
        margin-top: -90px;
        background-position-y: -100px !important;
        background-position-x: -400px;
        background-repeat: no-repeat;
    }

    .header-title {
        width: 350px;
        height: 270px;
        margin-top: 150px;
    }

    .header-sub {
        font-weight: 500;
        font-size: 16px;
        color: white;
        margin-top: -90px;
    }

    .register {
        padding: 10px;
        background-color: #b165e845;
        /* background: rgba(43, 43, 43, 0.55); */
        backdrop-filter: blur(9.5px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 20px;
        height: 121px;
        width: 350px;
        box-shadow: 1px -1px 26px 0px rgba(170, 95, 222, 0.75);
        -webkit-box-shadow: 1px -1px 26px 0px rgba(170, 95, 222, 0.75);
        -moz-box-shadow: 1px -1px 26px 0px rgba(170, 95, 222, 0.75);
    }

    .countdowns {
        font-size: 42px;
        font-weight: 700;
    }

    .double-dot {
        font-size: 42px;
        font-weight: 700;
    }

    .markerTime {
        font-weight: 700;
    }

    form input {
        /* width: 145px !important; */
        border-radius: 50px !important;
    }

    form ::placeholder {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        /* identical to box height */
        color: rgba(255, 255, 255, 0.21);
    }

    form label {
        font-size: 14px;
    }

    form .submit {
        background: linear-gradient(283.5deg, #5C2A7F 17.12%, #AA5FDE 98%);
        border-radius: 25px;
        color: white;
        text-transform: none;
    }

    /* Navbar */

    .nav-link {
        font-weight: 700;
        color: white;
        margin: 0px !important;
    }

    .nav-button {
        color: white !important;
    }

    .contact-nav {
        margin-right: 0px;
    }

    /* End Navbar */
    /* About */

    .about {
        background-image: url('../image/assets/aboutshadow.png') !important;
        background-position-y: -100px;
        height: 900px;
        background-size: cover;
    }

    .about-text {
        font-size: 16px;
        color: white;
        font-weight: 500;
    }

    .planet {
        display: none;
    }

    .btn-about {
        text-transform: none;
        font-weight: 600;
        font-size: 16px;
        color: white;
        height: 44px;
        background: linear-gradient(90deg, #816FA7 -3.83%, #57338F 48.21%, #191437 103.6%);
    }

    .logo {
        display: none;
    }

    /* End About */
    /* Past */

    .slogan-past {
        font-weight: 200;
        font-size: 16px;
        color: #FFFFFF;
    }

    .btn-past {
        text-transform: none;
        font-weight: 600;
        font-size: 16px;
        color: white;
        height: 44px;
        background: linear-gradient(90deg, #816FA7 -3.83%, #57338F 48.21%, #191437 103.6%);
    }

    .past .time h1 {
        font-size: 60px;
        font-weight: 600;
    }

    .past .time p {
        font-weight: 300;
    }

    .past .group-time {
        justify-content: center;
    }

    .past .mov .movies {
        background-image: url('../image/assets/artq_past.png');
        width: 100%;
        height: 482px;
        padding: 30px;
        background-color: black;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-size: cover;
        background-position-x: -120px;
        margin-right: -100px !important;
    }

    .past {
        background-size: cover;
    }

    /* End Past */

    .bg-star {
        background-image: url('../image/assets/past-foot.jpg');
        background-size: cover;
    }

    /* Competition */

    .competition {
        padding-top: 90px;
        background: url('../image/assets/shadowbg.png');
        background-position-y: -20px;
    }

    .tab-link {
        font-weight: 700 !important;
        font-size: 20px !important;
        color: white !important;
        height: auto !important;
        width: 80px !important;
        text-align: center !important;
        padding-left: 1px !important;
        padding-right: 1px !important;
        padding-bottom: 3px !important;
    }

    .tab-link:hover {
        color: #AA5FDE !important;
        background-color: transparent !important;
    }

    /* .nav-tabs {
        width: 400px !important;
    } */

    .tab-link.active {
        background-color: transparent !important;
        border-bottom: 2px solid #AA5FDE !important;
        color: #AA5FDE !important;
    }

    .inov {
        font-size: 20px;
    }

    .card-competition {
        width: 270px;
        height: 356px;
        background-color: #a95fde;
        background-image: url('../image/assets/P1150167.html\ 1.png');
        border-bottom: 5px solid #AA5FDE;
        border-radius: 10px;
        box-shadow: -1px -1px 20px 0px rgba(24, 107, 203, 0.75);
        -webkit-box-shadow: -1px -1px 20px 0px rgba(24, 107, 203, 0.75);
        -moz-box-shadow: -1px -1px 20px 0px rgba(24, 107, 203, 0.75);
    }

    /* End Competition */
    /* Techno Campe */

    .techno {
        background-image: url('../image/assets/pexels-frank-cone-3279307.html\ 1.png');
    }

    .btn-techno {
        text-transform: none;
        font-weight: 600;
        font-size: 16px;
        color: white;
        height: 44px;
        background: linear-gradient(90deg, #816FA7 -3.83%, #57338F 48.21%, #191437 103.6%);
    }

    .day-tab {
        color: white !important;
        text-transform: none !important;
        font-weight: 700 !important;
        font-size: 16px !important;
    }

    .day-tab:hover {
        background-color: transparent !important;
        color: #AA5FDE !important;
        border-bottom: 1px solid #AA5FDE !important;
    }

    .day-tab.active {
        color: #AA5FDE !important;
        border-bottom: 3px solid #AA5FDE !important;
        background-color: transparent !important;
    }

    /* End Techno Camp */

    .video-gallery {
        height: 300px;
    }

    .video-gallery iframe {
        border-radius: 40px !important;
    }

    footer {
        background: linear-gradient(301.93deg, #1F0A2E 19.49%, #4E0C7B 108.12%);
    }

    @media (min-width: 992px) {
        header {
            height: 800px;
            background-image: url('../image/assets/shadowbg.png');
            background-position-y: -700px !important;
        }

        .header-img {
            background-image: url('../image/assets/header_back.png');
            background-size: cover;
            height: 850px;
            margin-top: -90px;
            background-position-y: -300px !important;
            background-position-x: -0px;
            background-repeat: no-repeat;
        }

        .nav-link {
            margin-right: 30px !important;
        }

        .contact-nav {
            margin-right: 50px;
        }

        .header-title {
            width: 650px;
            height: 570px;
            margin-top: 90px;
        }

        .header-sub {
            font-weight: 500;
            font-size: 20px;
            color: white;
            margin-top: -140px;
        }

        .register {
            background-color: #b165e845;
            /* background: rgba(43, 43, 43, 0.55); */
            backdrop-filter: blur(9.5px);
            /* Note: backdrop-filter has minimal browser support */
            border-radius: 20px;
            height: 121px;
            width: 700px;
            box-shadow: 1px -1px 26px 0px rgba(170, 95, 222, 0.75);
            -webkit-box-shadow: 1px -1px 26px 0px rgba(170, 95, 222, 0.75);
            -moz-box-shadow: 1px -1px 26px 0px rgba(170, 95, 222, 0.75);
        }

        .planet {
            display: contents;
        }

        .planet img {
            margin-right: -100px;
        }

        .logo {
            display: contents;
        }

        /* .about-lap {
            margin-right: -150px;
        }
        .past-lap {
            margin-right: -150px;
        } */
        .slogan-past {
            font-weight: 200;
            font-size: 20px;
            color: #FFFFFF;
        }

        .past .group-time {
            justify-content: start;
        }

        .competition {
            padding-top: 90px;
            background: url('../image/assets/shadowbg.png');
            background-position-y: -20px;
            height: 700px;
        }

        .competition .container {
            background-image: url('../image/assets/compe_text.png');
        }

        .techno .container {
            backdrop-filter: blur(2.5px);
            border-radius: 15px;
            border: 1px solid white;
            padding-bottom: 100px !important;
            padding-top: 100px !important;
            padding-right: 300px !important;
            padding-left: 300px !important;
        }

        footer {
            padding-top: 140px !important;
            background: linear-gradient(301.93deg, #1F0A2E 19.49%, #4E0C7B 108.12%);
            height: 500px;
        }

        .icon-footer {
            width: 38px;
            height: 38px;
        }

        .copyright {
            font-size: 14px;
            padding-top: 90px !important;
        }

        .video-gallery {
            height: 700px;
        }
    }

    /* Time Line */

    * {
        box-sizing: border-box;
    }

    /* The actual timeline (the vertical ruler) */

    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */

    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    /* Container around content */

    .content-h {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    .timeline .content p {
        font-size: 34px;
        color: #CD86FF;
        font-weight: 400;
    }

    .timeline .content h2 {
        color: white;
    }

    /* The circles on the timeline */

    .content-h::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -13px;
        background-color: white;
        top: 0.1px;
        border-radius: 50%;
        z-index: 1;
    }

    /* Place the container to the left */

    .left {
        left: 0;
        text-align: end;
    }

    /* Place the container to the right */

    .right {
        left: 50%;
        margin-left: 3px;
    }

    /* Add arrows to the left container (pointing right) */

    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
    }

    /* Add arrows to the right container (pointing left) */

    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
    }

    /* Fix the circle for containers on the right side */

    .right::after {
        left: -16px;
    }

    /* The actual content */

    .content {
        padding: 20px 30px;
        position: relative;
        border-radius: 6px;
    }

    /* Media queries - Responsive timeline on screens less than 600px wide */

    @media screen and (max-width: 600px) {

        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }

        /* Full-width containers */
        .content-h {
            width: 100%;
            padding-left: 30px;
            padding-right: 25px;
        }

        .left {
            text-align: start;
        }

        /* Make sure that all arrows are pointing leftwards */
        .content-h::before {
            left: 60px;
        }

        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 15px;
        }

        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
    }